body {
    background-image: linear-gradient(to right, #0a1a24, #15364a);
}

#title {
    font-size: 40px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}

#contactDiv {
    width: 50vw;
    min-width: 500px;
    color: whitesmoke;
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(10%);
    background-color: rgba(236, 235, 245, 0.300);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin: 0px auto;
    margin-top: 10vh;
}

.buttons {
    font-size: 25px;
    border-radius: 5px;
    width: 12vw;
    margin: 0px 20vw;
    margin-top: 5px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 0px;
    display: inline-block;
    text-align: center;
}

.buttons:hover {
    background-color: #00d5124f;
    color: #FFFFFF;
    opacity: 50%;
    cursor: pointer;
}

#loginName {
    font-size: 30px;
}

#loginPassword {
    font-size: 30px;
}

#addContactButton {
    margin: 0px;
    border-radius: 20px;
    cursor: pointer;
}

#addContactButton img {
    height: 50px;
    width: 50px;
}

#searchContactButton {
    border-radius: 20px;
    cursor: pointer;
}

#searchContactButton img {
    height: 40px;
    width: 40px;
}

.linkerDiv {
    text-align: center;
    display: flex;
}

#searchText {
    font-size: 30px;
    width: 30%;
    border-radius: 5px
}

#searchId {
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

#data{
    font-size: 20px;
    border-radius: 5px;
}

#colorText {
    font-size: 30px;
}

input[type="text"],
input[type="password"] {
    border-radius: 25px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
}

#inner-title {
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 6%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

#loginResult {
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#userName {
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    width: 80%;
    margin-left:0;
    text-align: center;
}

#logoutButton {
    width: 20%;
    margin-left: 40%;
}

#editButton {
    border-radius: 5px;
    border-width: 0px;
    cursor: pointer;
}


#deleteButton {
    border-radius: 5px;
    border-width: 0px;
    margin-left: 10px;
    cursor: pointer;
}

select {
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

#contactSearchResultDiv {
    margin-left: 10%;
}

#contactSearchResult {
    color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;

}
#contactUpdateResult {
    color:black;
}

#colorList {
    color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
}

#colorAddResult {
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

/* The Modal (background) */
 .modal {
     display: none;
     position: fixed;
     z-index: 1;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgba(0, 0, 0, 0.4);
     color: black;
 }

 .modal-content {
     background-color: #fefefe;
     margin: 15% auto;
     padding: 20px;
     border: 1px solid #888;
     border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
     width: 80%;
 }

 #editForm {
    width: 30%;
    border-radius: 5px;

 }

 #editFirstName {
     border-radius: 5px;
 }

 #editLastName {
     border-radius: 5px;
 }

 #editPhoneNumber {
     border-radius: 5px;
 }

 #editEmail {
     border-radius: 5px;
 }


/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.overlay-banner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 128, 0, 0.8);
    color: white;
    text-align: center;
    padding: 10px;
    z-index: 1000;
    pointer-events: none;
    border-radius: 50%;

}

/* CSS for the overlay banner with error class (red background) */
.overlay-banner.error {
    background-color: red;
}

/* Styles for the table */
table {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;

}

th, td {

    border-top: 1px solid #ddd;
    padding: 8px;
    text-align: left;

}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 25px;
}