body {
    background-image: url("../images/123.jpg");
    background-size: cover;
}

#title {
    font-size: 150px;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-family: 'Great Vibes';
    color: whitesmoke;
    margin-bottom: 5px;
    margin-top: 20px;
}

#subTitle {
    font-size: 60px;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-family: 'Great Vibes';
    color: whitesmoke;
    margin-bottom: 20px;
}

#registerTitle {
    font-size: 35px;
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

#loginDiv {
    width: 30vw;
    min-width: 300px;
    height: 550px;
    color: whitesmoke;
    backdrop-filter: blur(10px);
    /* -webkit-backdrop-filter: blur(16px) saturate(10%); */
    background-color: rgba(2, 26, 2, .7);
    border-radius: 12px;
    border: none;
    margin: 0px auto;
    margin-top: 5px;
}

.loginTitle, .registerTitle{
    font-family: 'Great Vibes';
    font-size: 75px;
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-top: 40px;
}

#registerDiv{
    width: 30vw;
    min-width: 300px;
    height: 650px;
    color: whitesmoke;
    backdrop-filter: blur(10px);
    /* -webkit-backdrop-filter: blur(16px) saturate(10%); */
    background-color: rgba(2, 26, 2, .7);
    border-radius: 12px;
    border: none;
    margin: 0px auto;
    margin-top: 5px;
}

.loginButton, .registerButton, .backButton{
    font-size: 25px;
    border-radius: 5px;
    border: none;
    width: 10vw;
    min-width: 75px;
    margin: 0px 10vw;
    margin-top: 25px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 0px;
}

.registerText{
    color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

.registerText:hover{
    color: purple;
}

.registerText:active{
    color: #aa48db;
}

.loginButton:hover, .registerButton:hover, .backButton:hover {
    background-color: #390661;
    color: white;
    cursor: pointer;
}

.loginButton:active, .registerButton:active, .backButton:active{
    background-color: purple;
}

.linkerDiv{
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.linkers {
    background-color: rgba(2, 26, 2, .8);
    height: 75px;
    width: 200px;
    border-radius: 10px;
    border: none;
    color: whitesmoke;
    margin: 0px auto;
    font-size: 50px;
    font-family: 'Great Vibes';
    
}

.linkers:hover {
    background-color: #390661;
    cursor: pointer;
}

.linkers:active{
    background-color: purple;
}

.linket{
    color: rgba(245, 245, 245, 1);
    margin-top: 10px;
    display: inline-block;
}


.registerFields {
    border: none;
    border-bottom: whitesmoke solid 2px;
    color: whitesmoke;
    background: transparent;
    font-size: 28px;
    width: 80%; 
    border-radius: 0px;
}

.input {
    text-align: center;
}

#loginName, #loginPassword {
    border: none;
    border-bottom: whitesmoke solid 2px;
    border-radius: 0px;
    color: whitesmoke;
    background: transparent;
    font-size: 28px;
    width: 80%;
    
}

::placeholder {
    color: whitesmoke;
    opacity: 1; /* Firefox */
  }
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: whitesmoke;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: whitesmoke;
}


.username, .password{
    margin-left: 10%;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

#searchText {
    border: none;
    border-bottom: whitesmoke solid 2px;
    color: whitesmoke;
    background: transparent;
    font-size: 28px; 
    border-radius: 0px;
    margin-left: 4vw;
    margin-right: 0px;
    display: inline-block;
    width: calc(100% - 4vw);
}

#searchId {
    font-size: 28px;
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
    margin-left: 4vw;
    margin-top: 30px;
    display: block;
}

.searchButtons{
    display: inline-flex;
    width: 29.5%;
    flex-direction: row;
    position: relative;
    top: 7px;
}

#colorText {
    font-size: 30px;
}

input[type="text"],
input[type="password"] {
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 15px;
    font-family: 'Ubuntu', sans-serif;
}

.loginResultDiv, .registerResultDiv{
    margin-left: 10%;
    margin-bottom: 10px;
    margin-top: 10px;
}

#loginResult, #registerResult, #contactAddResult {
    display: inline-block;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: gold;
}

#userName {
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    margin-right: 25px;
}

#logoutButton {
    font-size: 25px;
    border-radius: 5px;
    border: none;
    width: 10vw;
    min-width: 75px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 10px;
    margin-right: 25px;
}

#logoutButton:hover{
    cursor: pointer;
    background-color: #390661;
    color: whitesmoke;
}

#loggedInDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 25px;
}
select {
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

#colorSearchResult {
    display: none;
}

#colorAddResult {
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

.block{
    display: block;
}

.inlineBlock{
    display: inline-block;
}

.welcomeDiv{
    width: 100%;
    height: 10vw;
    overflow: hidden;
}

.welcome{
    font-size: 8vw;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-family: 'Great Vibes';
    color: whitesmoke;
}

#contactDiv {
    width: 95vw;
    height: 75vh;
    color: whitesmoke;
    overflow-y: scroll;
    backdrop-filter: blur(15px);
    background-color: rgba(2, 26, 2, .85);
    border-radius: 12px;
    border: none;
    margin: 0px auto;
    margin-top: 20px;
}

#loginName {
    font-size: 30px;
}

#loginPassword {
    font-size: 30px;
}

#addContactButton {
    border-radius: 15px;
    cursor: pointer;
    width: 65px;
    height: 60px;
    border: none;
    margin-left: 40px;
}

#addContactButton img {
    height: 50px;
    width: 50px;
}

#searchContactButton {
    border-radius: 15px;
    cursor: pointer;
    width: 65px;
    height: 60px;
    border: none;
    margin-left: 20px;
}

#searchContactButton img {
    height: 50px;
    width: 50px;

}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
}

.modal-content {
    margin: auto;
    margin-top: 10vh;
    padding: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    width: 40%;
    background-color: rgba(5, 52, 5, .9);
    border-radius: 12px;
    border: none;
    color: whitesmoke;
}

.modal-input-div{
    width: 80%;
    margin-left: 10%;
}

.modal-input{
    width: 100% !important;
    border-radius: 0px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    display: block;
}

.editTitle{
    font-family: 'Great Vibes';
    font-size: 75px;
    width: 100%;
    text-align: center;
    display: inline-block;
}

#editForm {
   width: 100%;
   border-radius: 5px;

}

#saveEdit{
    font-size: 25px;
    border-radius: 5px;
    border: none;
    width: 20%;
    min-width: 75px;
    margin: 0px 40%;
    margin-top: 20px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 0px;
    cursor: pointer;
}

#saveEdit:hover{
    background-color: #390661;
    color: white;
}

#saveEdit:active{
    background-color: purple;
}


/* The Close Button */
.close {
   color: #aaaaaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.close:hover,
.close:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
}

.overlay-banner {
   display: none;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: rgba(0, 128, 0, 0.8);
   color: white;
   text-align: center;
   padding: 10px;
   z-index: 1000;
   pointer-events: none;
   border-radius: 50%;

}

/* CSS for the overlay banner with error class (red background) */
.overlay-banner.error {
   background-color: red;
}

#contactSearchResultDiv{
    margin-left: 4vw;
    font-size: 18px;
    margin-top: 35px;
    margin-bottom: 5px;
}

/* Styles for the table */
#table-container{
    width: 90%;
    margin-left: 4vw;
    margin-bottom: 50px;
}

table {
   border-collapse: collapse;
   width: 100%;
   font-family: 'Ubuntu', sans-serif;

}

th, td {
   color: whitesmoke;
   border-top: 1px solid #ddd;
   padding: 8px;
   text-align: left;
   font-size: 20px;
}

tr {
    border-bottom: 1px solid white;
}

th {
   background-color: darkgreen;
   font-weight: bold;
   font-size: 25px;
}

#deleteButton{
    margin-left: 10px;
    cursor: pointer;
}

#editButton{
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(34,45,14 .8);
    border-radius: 12px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(221, 195, 44, 0.826);
    border-radius: 12px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3e3e3e;
  }